body {
    background: linear-gradient(135deg, #F9FDFF 22px, rgba(233, 56, 84, 0.05) 22px, rgba(233, 56, 84, 0.05) 24px, transparent 24px, transparent 67px, rgba(233, 56, 84, 0.05) 67px, rgba(233, 56, 84, 0.05) 69px, transparent 69px),
  linear-gradient(225deg, #F9FDFF 22px, rgba(233, 56, 84, 0.05) 22px, rgba(233, 56, 84, 0.05) 24px, transparent 24px, transparent 67px, rgba(233, 56, 84, 0.05) 67px, rgba(233, 56, 84, 0.05) 69px, transparent 69px)0 64px;
    background-color: #F9FDFF;
    background-size: 64px 128px;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: 'Crimson Text', serif;
}

.clear-fix {
    overflow: auto;
}

#workExperience, #projects, #education, #mapDiv {
    margin: 20px 0;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

h1 {
    font-size: 68px;
    color: #e93854;
    line-height: 48px;
    display: block;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

#name {
    text-transform: uppercase;
}

.role-text {
    color: #333;
    font-size: 20px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

.online-text {
    margin-top: 20px;
    color: gray;
    margin-left: 0;
    padding-left: 10px;
}

#lets-connect .connect-text {
    color: #f6f6f6;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    color: #ec3e63;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.welcome-message {
    font-style: italic;
    font-size: 32px;
    color: #333;
    line-height: 132px;
}

#skills-h3 {
    color: #e93854;
    display: none;
    font-style: normal;
}

.white-text {
    color: #f3f3f3;
}

.section-bg {
    background-color: #fcf6f6;
    padding: 20px 0;
    clear: both;
}

.contact-type {
    color: #333;
}

.dark {
    background-color: #333;
}

.pink {
    background-color: #e93854;
}


/* TODO: Replace with image later */
/*#header {
    background-color: #f9fdff;
}*/

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-column {
    display: flex;
    /*flex-direction: column;*/
    /*flex-wrap: nowrap;*/
    flex-wrap: wrap;
    padding: 10px;
    width: 42%;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.skill {
    margin: 10px;
}

.biopic {
    float: left;
    padding: 40px 10px 10px 10px;
    margin: auto 10%;
    width: 300px;
    display: none;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}

#lets-connect {
    text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    };
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    };
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }

    .biopic {
        width: 150px;
    }

    .welcome-message {
        display: none;
    };
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
  .biopic {
        display: block;
    };
}
